build/
build-win/
vapi/win32-ui.generated.vapi
vapi/win32-ui-*.vapi
vapi/win32-graphics-*.vapi
mingw-libs/
metadata/win32json/
build/vendor/webview2/
build/vendor/webview2-extract/
build/vendor/webview2.nupkg
build/vendor/winui3/
build/vendor/winui3.nupkg
metadata/win32metadata/
metadata/cache/
tools/generate-binding
*.o
*.exe
*.dll
*.~*
.DS_Store
.specstory/
